nav.navbar.navbar-default {
  margin-bottom: 0;
  border: none;
  background: #000001;
  padding: 9px;
  border-radius: 0;
}
.navbar-default .navbar-nav li a{
	color: #fff;
  font-family: "MuseoSansRegular";
}
.navbar-default .navbar-nav li a:focus{
    color: #32d1aa;
}
.navbar-default .navbar-nav li a:hover{
	color: #32d1aa;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.navbar-header {
  float: left;
}
ul.social {
  overflow: hidden;
  margin: 0;
}
ul.social li{
	float: left;
  padding: 20px 20px 20px 0;
  list-style: none;

}
ul.nav.navbar-nav {
  float: right;
  margin-top: 5px;
}
.logo {
  text-align: center;
}
.logo img{ 
  margin-left: -60px;
}
.banner {
  height: 320px;
  overflow: hidden;
}

.banner .img-wrapper{
  background-color: #000;
  max-height: 100%;
}
.banner img{
	position: relative;
	height: 100%;
  width: 100%;
  opacity: 0.4;
}
.banner .gall h3{
  top: 203px;
  right: 0px;
  left: 0;
  font-size: 36px;
  position: absolute;
  color: #32d1aa;
  display: inline-block;
  font-family: "MerriweatherRegular";
}
.gall {
  display: block;
  text-align: center;
}
.tab {
  text-align: center;
}
ul.nav.nav-tabs {
  text-align: center;
  border: none;
}
.nav-tabs > li {
  float: none; 
  margin-bottom: -1px;
  display: inline-block;
  margin: 0 6%;
}
ul.nav.nav-tabs li.active {
  border-bottom: 5px solid #32d1aa;
}
ul.nav.nav-tabs li a{
	border: none;
  color: #bababa;
   font-family: "MuseoSansBold";
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  cursor: default;
  background: #fff;
  color: #32d1aa;
  border: none;
}
.photogallery ul{
	padding: 0;
	margin: 0;
	text-align: center;
  margin-top: 30px;
}
.photogallery ul li{
  display: inline-block;
  list-style: none;
  margin: 4px 3px;
}
.photogallery .img-wrapper img{
	display: block;
	width: 100%;
  height: 100%;
  min-height: 236px;
}
.photogallery .img-wrapper a:hover > img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}
.photogallery .img-wrapper a img{
	-moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.photogallery ul li .img-wrapper a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.photogallery ul li .img-wrapper a:before {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgba(0,0,0,0.7) url(../img/png/zoom.png) center no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.photogallery ul li .img-wrapper:hover > a:before {
	z-index: 1;
}
.photogallery ul li .img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
  overflow: hidden;
  max-height: 236px;
  max-width: 370px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.photogallery ul li .img-wrapper:hover{
	-moz-box-shadow: 0px 0px 41px #000000;
	-webkit-box-shadow: 0px 0px 41px #000000;
	box-shadow: 0px 0px 41px #000000;
}

/*// Видео*/

.videogallery {


  text-align: center;
    margin-top: 30px;
}

.videogallery a img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 236px;

}
.videogallery .img-wrapper a:before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 20%;
  background:  url(../img/png/play.png)  center  no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

}
.videogallery .img-wrapper:hover > a:before {
  z-index: 1;

}
.videogallery .img-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  margin: 4px 3px;
  max-height: 236px;
  max-width: 370px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}


.videogallery .img-wrapper:hover{
  -moz-box-shadow: 0px 0px 41px #000000;
  -webkit-box-shadow: 0px 0px 41px #000000;
  box-shadow: 0px 0px 41px #000000;
}
.poptrox-popup .caption{
  font-family: "MuseoSansRegular";
  color: #32d1aa;
  font-size: 24px;
}


/*// Модальное Окно*/
.modal-content .modal-header .close {
    margin-top: -2px;
    opacity: 1;
    color: #32d1aa;
}
.modal-header {
    border: none;
    padding: 0;
}
.modal-body{
	padding: 1px;
}
.close {
    float: right;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: #32d1aa;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=1);
    opacity: 1;
}
.close:hover{
	color: #53d1aa;
}
.ekko-lightbox .glyphicon-chevron-right {
    width: 20%;
    color: #32d1aa;
}
.ekko-lightbox .glyphicon-chevron-left {
    width: 20%;
    color: #32d1aa;
}
.ekko-lightbox-nav-overlay a:empty {
    width: 20%;
}

/* Инпут навароченый ======================================= */

.col-md-7 form h3{
  margin: 70px 0 30px 0;
  font-family: "MuseoSansBold";
  text-align: center;
}
form {
	float: right;
}
.group {
  position: relative;
  margin-bottom: 30px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 80px;
  display: block;
  width: 100%;
  border: 2px solid #cdcdcd;
  transition: 0.9s ease all;
  -moz-transition: 0.9s ease all;
  -webkit-transition: 0.9s ease all;
}
input:focus{
  border: 2px solid #32d1aa;
}
form .group input {
	outline: 0;
}
/* Кнопка (валидация) ======================================= */

input[type="submit"] {
  margin-top: 30px;
  background: #32d1aa;
  font-family: "MuseoSansBold";
  border: none;
  color: #fff;
  text-align: center;
  padding-left: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
input[type="submit"]:hover {
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
}
/*каталог категорий*/
/* КАТАЛОГИ РАЗМЕРЫ ВРАППЕРОВ */


.catalogcatagory {
    text-align: center;
    margin: 6% 0;
}

.effect {
  position: relative;
} 
.effect img {
  width: 100%;
  height: 100%;
  position: relative;
}
.eff-3-1 {
  width: 350px;
  height: 250px;
  overflow: hidden;
  display: inline-block;
  margin: 0% 1%;
  margin-bottom: 3%;

}
.eff-3-1:hover {
  -moz-box-shadow: 0px 0px 41px #000000;
  -webkit-box-shadow: 0px 0px 41px #000000;
  box-shadow: 0px 0px 41px #000000;

  
}
.eff-3-1 .caption {
  position: absolute;
  top: 0;
  left: 0px;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  -o-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.eff-3-1 .caption h4 {
  font-size: 21px;
  font-weight: 700;
  font-family: "MerriweatherBold";
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-top: 20px;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  -o-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.eff-3-1 .caption p {
  margin: 15px 0px;
  text-align: center;
  font-family: "MerriweatherBold";
  padding: 0px 10px;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  -o-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.eff-3-1:hover .caption {
  opacity: 1;
}
.eff-3-1:hover .caption h4,
.eff-3-1:hover .caption p,
.eff-3-1:hover .caption a.btn {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}                  
              
                
.caption a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}



/* LABEL ======================================= */

label {
  color: #cdcdcd;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  padding-left: 27px;
  font-family: "MuseoSansRegular";
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* active state */

input:focus ~ label,
input:valid ~ label {
  top: -10px;
  font-size: 15px;
  color: #32d1aa;
  background: #fff 0 0 no-repeat;
  padding: 0 5px;
  margin-left: 8px;
}
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.col-md-3 .adress h3{
  margin: 75px 0 19px 0;
  font-family: "MuseoSansBold";
}
.col-md-3 .adress ul{
  padding-left: 0;
}
.col-md-3 .adress ul li{
  list-style: none;
  font-family: "MuseoSansRegular";
  
}
.col-md-3 .telephone h3{
  margin: 43px 0 19px 0;
  font-family: "MuseoSansBold";
}
.col-md-3 .telephone ul{
  padding-left: 0;
}
.col-md-3 .telephone ul li{
  list-style: none;
  font-family: "MuseoSansRegular";
}
.col-md-3 .email h3{
   margin: 43px 0 19px 0;
   font-family: "MuseoSansBold";
}
.col-md-3 .email ul{
  padding-left: 0;
}
.col-md-3 .email ul li{
  list-style: none;
  font-family: "MuseoSansRegular";
}

.footer{
	background: #000;
	padding: 70px 0;
	margin-top: 80px;
}
.logostudio {
    overflow: hidden;
    float: left;
    margin: 3px 20px;
}
.slogo {
    margin: 19px 0 0 0;
    padding: 0;
    float: left;
    overflow: hidden;
    width: 15%; 
}
.slogo p{
  font-family: "MuseoSansBold";
  font-size: 14px;  
}
.slogo span{
  font-family: "MuseoSansBold";
  font-size: 10px;  
}
.col-md-8 {
    float: right;
    overflow: hidden;
}
.col-md-8 h4 {
    border: 6px solid;
    margin: 0;
    line-height: 89px;
    text-align: center;
    font-size: 40px;
    font-family: "MuseoSansBold";
}
a.goog_pulse {
    float: left;
    margin-top: 15px;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    line-height: 55px;
    background: url(../img/png/goog.png) 0 center no-repeat;
    padding-left: 67px;
    margin-left: 20px;
}

ul.pagination{
    float: right;
    margin-top: 70px;

}
ul.pagination li{
   border: none;
    border-color: none;
}
ul.pagination li a:active{
  background: #32d1aa;

}
ul.pagination li a:hover{
  background: #32d1aa;
}
.pagination>li {
    display: inline-block;
}
li.active{
  background: #32d1aa;
  border-radius: none;
  border-color: none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background: #32d1aa;
  border-radius: none;
  border-color: none;
  border: none;
}
@media (min-width: 320px) and (max-width: 991px){
.col-md-3 {
    text-align: center;
}
.banner .img-wrapper{
  height: 100%;
}
.banner {
    height: 185px;
    overflow: hidden; 
}
.banner .gall h3 {
    top: 165px;
    font-size:  24px;
    right: 0;
}
form {
    float: none;
}
.slogo {
    width: 60%;
    text-align: center;
    display: block;
    margin: 20px auto;
    float: none ;
}
.logo img {
    margin-left: 0px;
}
.logostudio {
    overflow: hidden;
    float: none; 
    margin: 3px 20px;
    text-align: center;
}
.col-md-8 h4 {
    border: 4px solid;
    line-height: 40px;
    font-size: 13px;
    padding: 0 10px;

}
.col-md-8 {
    text-align: center;
    float: none;
}

}
@media (min-width: 640px) and (max-width: 991px){
  a.goog_pulse {
    float: left;
    margin: 2% 30%;
}
}
@media (min-width: 320px) and (max-width: 767px){
ul.social {
    margin-top: 15px;
}
.logo img {
    margin-top: 13px;
}
.eff-3-1 {
  max-width: 285px;
  max-height: 200px;
}

}
@media (min-width: 320px) and (max-width: 640px){
a.goog_pulse {
    text-align: center;
    margin: 0 auto;
    width: 88%;
    display: block;
    margin-top: 15px;
    line-height: 28px;
    padding-left: 67px;
    margin-left: 20px;
}
}


[class*=' col-'],
[class^='col-'] {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.video-container iframe,
.video-container object,
.video-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.offset-2 {
  margin-top: 30px;
}

*, *:before, *:after {
  box-sizing: border-box;
}
*, *:focus, *:active, *:focus:active, *:before, *:before:focus, *:before:active, *:before:focus:active, *:after, *:after:focus, *:after:active, *:after:focus:active {
  outline: none;
}
