
/* Меню */
nav.navbar.navbar-default {
    position: absolute;
    z-index: 9999;
    background: none;
    border: none;
    margin: 0;
}
.logo {
    display: block;
    text-align: center;
    z-index: 2;
}
ul.nav.navbar-nav {
    float: right;
}
ul.nav.navbar-nav a{
	color: #fff;
	padding: 0;
	margin: 15px 15px;
	font-family: "MuseoSansRegular";
}
ul.nav.navbar-nav a:focus{
	color: #32d1aa;
}
ul.nav.navbar-nav a:hover{
	color: #32d1aa;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
ul.social{
	overflow: hidden;
	padding-left: 0;
}
ul.social li {
	float: left;
	margin-right: 20px;
	list-style: none;
}
/* Слайдер */

.carousel-inner .img-wrapper {
    width: 100%;
    height: 100%;
    max-height: 626px;
    min-height: 626px;
    position: relative;
    overflow: hidden;
}
.carousel-inner .img-wrapper img {
    display: block;
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    min-width: 100%;
    height: auto;
    max-width: 1920px;
    max-height: 680px;
    width: auto;
}
.carousel-caption {
    top: 177px;
    left: 30px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 6;

}
.carousel-caption a h2{
	font-family: "MuseoSansRegular";
	font-size: 36px;
	display: inline-block;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	color: #fff;
	
}
.carousel-caption a h2:hover{
	font-family: "MuseoSansRegular";
	font-size: 38px;



	
}
/*.carousel-caption a h3{
	font-family: "MuseoSansRegular";
	font-size: 36px;
	// background:  url(../img/jpg/borderindex.jpg) center bottom no-repeat;
}*/
a.left.carousel-control{
	background: none;
	z-index: 999;
}
a.right.carousel-control{
	background: none;
	z-index: 999;
}
.carousel-inner .item:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	background: rgba(0,0,0,0.5);
	z-index: 1;
}

span.glyphicon.glyphicon-chevron-right{
	font-size: 0;
	background:  url(../img/png/arrowrig.png) center center no-repeat;
	width: 47px;
    height: 43px;
    z-index: 999;
}
span.glyphicon.glyphicon-chevron-left{
	font-size: 0;
	background:  url(../img/png/arrowleft.png) center center no-repeat;
	width: 47px;
    height: 43px;
    z-index: 999;
}


.headercover {
	bottom: -62px;
    top: 375px;
    position: absolute;
    height: 428px;
    z-index: 999;
    width: 100%;
    background-image: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0.8) 90%,rgba(255,255,255,1) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(64%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(top,rgba(225,255,255,0) 0,rgba(255,255,255,0.8) 90%,rgba(255,255,255,1) 100%);
    background-image: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0.8) 90%,rgba(255,255,255,1) 100%);
    background-image: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0.8) 90%,rgba(255,255,255,1) 100%);
    background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,1) 64%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=0);
}

.headercovervideo {
    bottom: -23px;
    top: 427px;
    position: absolute;
    height: 200px;
    z-index: 999;
    width: 100%;
    background-image: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0.8) 90%,rgba(255,255,255,1) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(64%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(top,rgba(225,255,255,0) 0,rgba(255,255,255,0.8) 90%,rgba(255,255,255,1) 100%);
    background-image: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0.8) 90%,rgba(255,255,255,1) 100%);
    background-image: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0.8) 90%,rgba(255,255,255,1) 100%);
    background-image: linear-gradient(to bottom,rgba(255,255,255,) 0,rgba(255,255,255,46) 90%,rgba(255,255,255,36) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=0);
}

video{
	position: relative;
	width: 100%;
}
.headercovervideo{
	position: absolute;
	 bottom: -23px;
    top: 500px;
    position: absolute;
    height: 200px;
    width: 100%;
    z-index: 2;
}
.headercovervideo1 {
	width: 100%;
	height: 700px;
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

/*каталог главного меню*/
/* КАТАЛОГИ РАЗМЕРЫ ВРАППЕРОВ */
.catalog {
    margin-top: -100px;
}
.catalog ul {
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
	padding-top: 20px;
}
.catalog ul li {
    list-style: none;
    margin: 21px 2% 20px 2%;
    float: left;
    width: 46%;
}
.catalog ul li .img-wrapper {
	position: relative;
	width: 100%;
	height: 337px;
	display: block;
	font-size: 0;
	overflow: hidden;
	z-index: 999;
}

/* ПРИ НАВЕДЕНИЕ НА ВРАППЕР пОЯВЛЯЮТСЯ ТЕНИ */

.catalog ul li .img-wrapper:hover{
	-moz-box-shadow: 0px 0px 25px #000000;
	-webkit-box-shadow: 0px 0px 25px #000000;
	box-shadow: 0px 0px 25px #000000;
}

/* Размер картинки и скорость анимации*/

.catalog ul li .img-wrapper img {
	display: block;
	width: 100%;
	height: auto;
	min-height: 337px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.catalog ul li .img-wrapper h2 {
	font-size: 30px;
	font-family: "MerriweatherBold";
    color: #fff;
    font-weight: 700;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px;
    padding: 100px 20px 20px 20px;
    text-align: left;
}

/* ПРИ НАВЕДЕНИЕ НА ВРАППЕР пОЯВЛЯЮТСЯ ТЕНИ ШРИФТА  */

.catalog ul li .img-wrapper:hover > h2{
	text-shadow:5px 5px 6px #000000;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s 0.2s;
}
.catalog ul li .img-wrapper h2:before,
.catalog ul li .img-wrapper h2:after {
	content: '';
	display: block;
	position: absolute;
	background: #32d1aa;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

/* Линния вверх */

.catalog ul li .img-wrapper h2:before {
	width: 8px;
	height: 100px;
	bottom: 0;
	left: 0;
}

/* Линния вправо */

.catalog ul li .img-wrapper h2:after {
	height: 8px;
	width: 100px;
	bottom: 0;
	left: 0;
}

/* затемнение врапера */

.catalog ul li .img-wrapper a {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0,0,0, 0.4);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

/* стрелка вправо*/

/*.catalog ul li .img-wrapper:before {
	content: 'Перейти';
	display: inline-block;
	padding-right: 25px;
	font-size: 18px;
	color: #32d1aa;
	background: url(../img/png/arrow.png) center right no-repeat;
	position: absolute;
	right: 25px;
	bottom: 40px;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}*/


.catalog ul li .img-wrapper:hover>h2:before {
	height: 200px;
}
.catalog ul li .img-wrapper:hover>h2:after {
	width: 200px;
}

/* Скорость анимации */

.catalog ul li .img-wrapper:hover>img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}
.catalog ul li:hover>.img-wrapper:before {
	opacity: 1;
}
.catalog ul li .img-wrapper:hover>a {
	background: rgba(0,0,0, 0);
}





.footer{
	background: #000;
	padding: 70px 0;
	margin-top: 80px;
}

.logostudio {
    overflow: hidden;
    float: left;
    margin: 3px 20px;
}
.slogo {
    margin: 19px 0 0 0;
    padding: 0;
    float: left;
    overflow: hidden;
    width: 15%; 
}
.slogo p{
	font-family: "MuseoSansBold";
	font-size: 14px;  
}
.slogo span{
	font-family: "MuseoSansBold";
	font-size: 10px;  
}
.col-md-8 {
	float: right;
	overflow: hidden;
}
.col-md-8 h4 {
	border: 6px solid;
	margin: 0;
	line-height: 89px;
	text-align: center;
	font-size: 40px;
	font-family: "MuseoSansBold";
}

a.goog_pulse {
    float: left;
    margin-top: 15px;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    line-height: 55px;
    background: url(../img/png/goog.png) 0 center no-repeat;
    padding-left: 67px;
	margin-left: 20px;
}


@media (min-width: 768px) and (max-width: 991px){
.col-md-3 {
    text-align: center;
}
}




@media (min-width: 773px) and (max-width: 991px){
.col-md-8 h4 {
    border: 4px solid;
    line-height: 40px;
    font-size: 13px;
    padding: 0 10px;

}
.col-md-8 {
    text-align: center;
    float: none;
}
.slogo {
        width: 60%;
    text-align: center;
    display: block;
    margin: 20px auto;
    float: none ;
}
}

@media (min-width: 640px) and (max-width: 991px){
  a.goog_pulse {
    float: left;
    margin: 2% 30%;
}
}


@media (min-width: 320px) and (max-width: 768px) {
	.catalog ul li {
		float: none;
		display: block;
		width: 90%;
		margin: 0 auto 20px auto;
	}
	.catalog ul li .img-wrapper h2{
	font-size: 	18px;
}




@media (min-width: 320px) and (max-width: 991px){
.col-md-3 {
    text-align: center;
}
.slogo {
    width: 60%;
    text-align: center;
    display: block;
    margin: 20px auto;
    float: none ;
}
.logostudio {
    overflow: hidden;
    float: none; 
    margin: 3px 20px;
    text-align: center;
}
.col-md-8 h4 {
    border: 4px solid;
    line-height: 40px;
    font-size: 13px;
    padding: 0 10px;
}
.col-md-8 {
    text-align: center;
    float: none;
}

nav.navbar.navbar-default {
    display: inline-block;
    width: 97%;
}
ul.nav.navbar-nav {

    margin: 0;
    width: 165px;
}
.nav>li {
    position: relative;
    display: inline-block;
}
ul.nav.navbar-nav a {
    margin: 15px 9px;
}
.logo {
    margin-top: 24px;
}
.navbar-header {
    float: left;
}
.catalog ul li .img-wrapper {
    height: 290px;
}
.catalog ul li .img-wrapper img {
    min-height: 290px;
}

}
@media (min-width: 320px) and (max-width: 640px){
a.goog_pulse {
    text-align: center;
    margin: 0 auto;
    width: 88%;
    display: block;
    margin-top: 15px;
    line-height: 28px;
    padding-left: 67px;
    margin-left: 20px;
}
}