{% load staticfiles %}
<!DOCTYPE html>


<head>
    {% block title %}
    <title>Title</title>
    {% endblock %}
{% block meta %}
{% include 'meta.html' %}
{% endblock %}
</head>
<body>

{% block content %}

{% endblock %}

{% include 'footer.html' %}

</body>