{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
    {% block title %}
  <title>Категории Фото</title>
    {% endblock %}
  <meta charset="utf-8">
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Фото-категории" "photo_category"  %}
{% endblock %}
  {% block content %}

      {% render_breadcrumbs "bread.html" %}

  <div class="menugallery">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <ul class="social">
              {% for social in social_icons %}
            <li><a href="{{ social.url }}"><img src="{{ social.icon.url }}" alt=""></a></li>
                {% endfor %}
          </ul>
        </div>
          <ul class="nav navbar-nav">
{#            <li><a href="#">Галлерея</a></li>#}
            <li><a href="/contacts/">Контакты</a></li>
          </ul>
        <div class="logo">
          <a href="/">
           <img src="{{ logo.logo.url }}" alt="">
          </a>
        </div>
      </div>
    </nav>
  </div><!--  end menugallery -->

  <div class="banner">
    <div class="img-wrapper">
      <img src="{{ banner.banner.url }}" alt="">
      </div>
        <div class="container">
        <div class="gall">
          <h3>Фото Галерея</h3>
        </div>
      </div>
  </div> <!-- end banner -->


  <div class="catalogcatagory">
    <div class="container">
        {% for category in categories %}

          <div class="effect eff-3-1">

             <img src="{{ category.image.url }}" alt="Effect #3" />
              <div class="caption">
                <a href="/photo/category/{{ category.slug }}"></a>
                <h4>{{ category.category }}</h4>
                <p>{{ category.description }}</p>
              </div>
          </div>

        {% endfor %}




    </div>
  </div>

{% endblock %}

