{% extends 'base.html' %}
{% block title %}
  <title>Контакты</title>
{% endblock %}
{% block content %}

    <div class="menugallery">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <ul class="social">
                {% for social in socials %}
              <li><a href="{{ social.url }}"><img src="{{ social.icon.url }}" alt=""></a></li>
                {% endfor %}
            </ul>
          </div>
            <ul class="nav navbar-nav">
{#              <li><a href="#">Галлерея</a></li>#}
              <li><a href="/contacts/">Контакты</a></li>
            </ul>
          <div class="logo">
            <a href="/">
                {% for logo in logos %}
             <img src="{{ logo.logo.url }}" alt="">
                {% endfor %}
            </a>
          </div>
        </div>
      </nav>
    </div> <!-- end menugallery -->

    <div class="banner">
      <div class="img-wrapper">
        <img src="{{ banner.banner.url }}" alt="">
        </div>
          <div class="container">
          <div class="gall">
            <h3>Контакты</h3>
          </div>
        </div>
    </div> <!-- end banner -->

    <div class="contacts">
      <div class="container">
        <div class="col-md-3">
          <div class="adress">
            <h3>Адрес:</h3>
              <ul>
                <li>{{ contacts.city }}</li>
                <li>{{ contacts.address }}</li>
              </ul>
          </div>
          <div class="telephone">
            <h3>Телефон</h3>
              <ul>
                <li>{{ contacts.first_number }}</li>
                <li>{{ contacts.second_number }}</li>
              </ul>
          </div>
          <div class="email">
            <h3>E-mail</h3>
              <ul>
                <li>{{ contacts.first_email }}</li>
                <li>{{ contacts.second_email }}</li>
              </ul>
          </div>
        </div>
        <div class="col-md-offset-2 col-md-7">


          <form id="myForm" action="" method="POST">{% csrf_token %}
            <h3>Закажите обратный звонок и мы свяжемся с вами</h3>
            <div class="group">
              <input type="text" required name="name" value="">
              <span class="highlight"></span>
              <label for="name">Имя</label>
            </div>
            <div class="group">
              <input type="text" required name="phone" value="">
              <span class="highlight"></span>
              <label for="phone">Телефон</label>
              <input type="submit" value="Отправить" id="submit">
            </div>
          </form>


        </div> <!-- end col-md-offset-2 col-md-7 -->
      </div> <!-- end container -->
    </div> <!-- end contacts -->


    <script type="text/javascript">
{#        $(document).on('submit', '#myForm', function(e){#}
{#            e.preventDefault();#}
{##}
{#            $.ajax({#}
{#                type:'POST',#}
{#                url: '/contacts/create/',#}
{#                data:{#}
{#                        name:$('#name').val(),#}
{#                        phone:$('#phone').val(),#}
{#                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()#}
{#                },#}
{##}
{#                success:function(){#}
{##}
{#                }#}
{#            });#}
{#        });#}



    $(function(){
        $('#submit').click(function(e){
            e.preventDefault();
            $.ajax({
                data: $('form').serialize(),
                url: '/contacts/create/',
                method: 'post',
                success: function(res){
                    alert(res)
                }
            })
        })
    });
















    </script>

{% endblock %}