<div class="footer">
    <div class="container">
      <div class="logostudio">
        <a href="">
            {% for footer in footers %}
          <img src="{{ footer.icon.url }}" alt="">
        </a>
      </div>
      <div class="slogo">
           <p>{{ footer.large_text }}</p>
        <span>{{ footer.small_text }}</span>
      </div>
      <div class=" col-md-8">
        <h4>{{ footer.banner_text }}</h4>
      </div>
                <a  class="goog_pulse" href="#">Сайт разработан студией GooGstudio.com</a>
    </div>
  </div> <!-- end footer -->
{% endfor %}