{% extends 'base.html' %}
{% load staticfiles %}
<head>
    {% block title %}
  <title>Главная страница</title>
    {% endblock %}
  <meta charset="utf-8">
    {% block meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "static/css/animate.css" %}">
  <link rel="stylesheet" href="{% static "static/fonts/fonts.css" %}">
  <link rel="stylesheet" href="{% static "static/css/style.css" %}">
  <script src="{% static 'static/js/jquery1.12.0.js' %}"></script>
  <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
    {% endblock %}

<body>
{% block content %}

    {% if video_banner %}
        {% for video in video_banner %}
  <div class="slider">
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <div class="navbar-brand" href="#">
              <ul class="social">
                  {% for social in socials %}
                <li><a href="{{ social.url }}"><img src="{{ social.icon.url }}" alt=""></a></li>
                  {% endfor %}
              </ul>
            </div>

          </div>
        <ul class="nav navbar-nav">
            <li><a href="/contacts/">Контакты</a></li>
        </ul>

        </div>
      <div class="logo">
        <a href="/">
          <img src="{{ logo.logo.url }}" alt="">
        </a>
      </div>
      </nav>

    </div>

      <video autoplay loop muted class="bgvideo" id="bgvideo">
        <source src="{{ video.video.url }}" type="video/mp4">
      </video>
      <div class="headercovervideo"></div>
  </div>
    {% endfor %}

    {% else %}




    <div class="slider">
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <div class="navbar-brand" href="#">
              <ul class="social">
                  {% for social in socials %}
                <li><a href="{{ social.url }}"><img src="{{ social.icon.url }}" alt=""></a></li>
                  {% endfor %}
              </ul>
            </div>

          </div>
        <ul class="nav navbar-nav">
{#            <li><a href="#">Галлерея</a></li>#}
            <li><a href="/contacts/">Контакты</a></li>
        </ul>

        </div>
      <div class="logo">
        <a href="/">
          <img src="{{ logo.logo.url }}" alt="">
        </a>
      </div>
      </nav>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        {% for slider in sliders %}
          {% if slider.id == 1 %}
        <div class="item active">
          <div class="img-wrapper">
            <img src="{{ slider.slider_image.url }}" alt="">
          </div>
          <div class="headercover"></div>
          <div class="carousel-caption">
            <a href="" >
              <h2>{{ slider.text }}</h2>
            </a>
          </div>
        </div>
          {% else %}

      <div class="item">
        <div class="img-wrapper">
          <img src="{{ slider.slider_image.url }}" alt="">
        </div>
        <div class="headercover"></div>
        <div class="carousel-caption">
          <a href="" >
              <h2>{{ slider.text }}</h2>
            </a>
        </div>
      </div>
          {% endif %}
            {% endfor %}


        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>



{% endif %}




  <div class="category">
    <div class="container">
      <div class="row">
        <div class="catalog">
          <ul>

          {% for category in photo_category %}
            <li>
              <div class="img-wrapper">
                <img src="{{ category.category_image.url }}" alt="">
                <h2>{{ category.first_word }}<br> {{ category.second_word }}</h2>
                <a href="/photo/category/"></a>
              </div>
            </li>
              {% endfor %}




              {% for category in categories %}
            <li>
              <div class="img-wrapper">
                <img src="{{ category.category_image.url }}" alt="">
                <h2>{{ category.first_word }}<br> {{ category.second_word }}</h2>
                <a href="/video/{{ category.slug }}"></a>
              </div>
            </li>
              {% endfor %}

          </ul>
        </div> <!-- end catalog -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end category -->

{% endblock %}

