{% extends 'base.html' %}
    {% block title %}
  <title>Love Story Видео</title>
    {% endblock %}
  <meta charset="utf-8">

{% block content %}
  <div class="menugallery">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <ul class="social">
            <li><a href=""><img src="img/png/facebook.png" alt=""></a></li>
            <li><a href=""><img src="img/png/fotik.png" alt=""></a></li>
            <li><a href=""><img src="img/png/ok.png" alt=""></a></li>

          </ul>
        </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Галлерея</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        <div class="logo">
          <a href="">
           <img src="img/png/logogallery.png" alt="">
          </a>
        </div>
      </div>
    </nav>
  </div><!--  end menugallery -->

  <div class="banner">
  <div class="img-wrapper">
  <img src="img/jpg/gallerybar.jpg" alt="">
  </div>
  <div class="headercover"></div>
    <div class="container">
    <div class="gall">
      <h3>Love Story</h3>
    </div>
    </div>
  </div> <!-- end banner -->




  <div class="videogallery">
  <div class="container">

    <div id="wrapper">
      <div id="gallery">
      <!-- просто жмешь поделится ( пример: http://youtu.be/xxxxxxxxxxx) -->
        <div class="img-wrapper">
            <a href="https://youtu.be/-lbC8jgfLV0" data-poptrox=""><img src="img/jpg/sliderbg.jpg" alt="" title="(саша +петя)" /></a>
        </div>
        <div class="img-wrapper">
            <a href="https://youtu.be/-lbC8jgfLV0" data-poptrox=""><img src="img/jpg/sliderbg.jpg" alt="" title="(саша +петя)" /></a>
        </div>
        <div class="img-wrapper">
            <a href="https://youtu.be/-lbC8jgfLV0" data-poptrox=""><img src="img/jpg/sliderbg.jpg" alt="" title="(саша +петя)" /></a>
        </div>
        <div class="img-wrapper">
            <a href="https://youtu.be/-lbC8jgfLV0" data-poptrox=""><img src="img/jpg/sliderbg.jpg" alt="" title="(саша +петя)" /></a>
        </div>
          <div class="img-wrapper">
            <a href="https://youtu.be/-lbC8jgfLV0" data-poptrox=""><img src="img/jpg/sliderbg.jpg" alt="" title="(саша +петя)" /></a>
        </div>
          <div class="img-wrapper">
            <a href="https://youtu.be/-lbC8jgfLV0" data-poptrox=""><img src="img/jpg/sliderbg.jpg" alt="" title="(саша +петя)" /></a>
        </div>
          <div class="img-wrapper">
            <a href="https://youtu.be/-lbC8jgfLV0" data-poptrox=""><img src="img/jpg/sliderbg.jpg" alt="" title="(саша +петя)" /></a>
        </div>
          <div class="img-wrapper">
            <a href="https://youtu.be/-lbC8jgfLV0" data-poptrox=""><img src="img/jpg/sliderbg.jpg" alt="" title=" (саша +петя)" /></a>
        </div>
        <div class="img-wrapper">
            <a href="https://youtu.be/-lbC8jgfLV0" data-poptrox=""><img src="img/jpg/sliderbg.jpg" alt="" title=" (саша +петя)" /></a>
        </div>
      </div> <!-- end gallery -->
    </div> <!-- end wrapper -->
     </div> <!-- end tab-pane fade -->
     </div>
{% endblock %}