{% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "static/fonts/fonts.css" %} ">
  <link rel="stylesheet" href="{% static "static/css/ekko-lightbox.min.css" %}">
  <link rel="stylesheet" href="{% static "static/css/stylegallery.css" %}">
    <link rel="stylesheet" href="{% static "static/css/animate.css" %}">

{#  <script src="{% static "static/js/jquery1.12.0.js" %}"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{% static "static/js/bootstrap.min.js" %}"></script>
  <script src="{% static "static/js/ekko-lightbox.min.js" %}"></script>
  <script src="{% static "static/js/myjs.js" %}"></script>
  <script src="{% static "static/js/jquery.poptrox.min.js" %}"></script>