{% extends 'base.html' %}
    {% block title %}
  <title>{{ categories.category }}</title>
    {% endblock %}
  <meta charset="utf-8">

{% block content %}
  <div class="menugallery">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <ul class="social">
              {% for social in social_icons %}
            <li><a href="{{ social.url }}"><img src="{{ social.icon.url }}" alt=""></a></li>
                {% endfor %}
          </ul>
        </div>
          <ul class="nav navbar-nav">
{#            <li><a href="#">Галлерея</a></li>#}
            <li><a href="/contacts/">Контакты</a></li>
          </ul>
        <div class="logo">
          <a href="/">
           <img src="{{ logo.logo.url }}" alt="">
          </a>
        </div>
      </div>
    </nav>
  </div><!--  end menugallery -->

  <div class="banner">
  <div class="img-wrapper">
  <img src="{{ banner.banner.url }}" alt="">
  </div>
  <div class="headercover"></div>
    <div class="container">
    <div class="gall">
      <h3>{{ categories.category }}</h3>
    </div>
    </div>
  </div> <!-- end banner -->


  <div class="photogallery">
    <div class="container">

      <ul>
          {% for photo in photos %}
        <li>
          <div class="img-wrapper">
            <a data-toggle="lightbox" data-gallery="navigateTo" href="{{ photo.image.url }}">
              <img class="img-responsive" src="{{ photo.image.url }}" alt="">
            </a>
          </div>
        </li>
            {% endfor %}
      </ul>

    <ul class="pagination">
                {% for page in photos.paginator.page_range %}
                {% if page == photos.number %}
               <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
               <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
  </div>
</div>


{% endblock %}