{% extends  'base.html' %}
    {% block title %}
  <title>{{ category.first_word }} {{ category.second_word }}</title>
    {% endblock %}
  <meta charset="utf-8">


{% block content %}
  <div class="menugallery">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <ul class="social">
              {% for social in social_icons %}
            <li><a href="{{ social.url }}"><img src="{{ social.icon.url }}" alt=""></a></li>
                {% endfor %}
          </ul>
        </div>
          <ul class="nav navbar-nav">
            <li><a href="/contacts/">Контакты</a></li>
          </ul>
        <div class="logo">
          <a href="/">
           <img src="{{ logo.logo.url }}" alt="">
          </a>
        </div>
      </div>
    </nav>
  </div><!--  end menugallery -->

  <div class="banner">
  <div class="img-wrapper">
  <img src="{{ banner.image.url }}" alt="">
  </div>
  <div class="headercover"></div>
    <div class="container">
    <div class="gall">
      <h3>{{ category.first_word }}  {{ category.second_word }}</h3>
    </div>
    </div>
  </div> <!-- end banner -->




  <div class="videogallery">
  <div class="container">

    <div id="wrapper">
      <div id="gallery">
      <!-- просто жмешь поделится ( пример: http://youtu.be/xxxxxxxxxxx) -->
          {% for v in video %}
        <div class="img-wrapper">
            <a href="{{ v.video_link }}" data-poptrox=""><img src="{{ v.poster.url }}" alt="" title="{{ v.title }}" /></a>
        </div>
          {% endfor %}
</div> <!-- end gallery -->
              <ul class="pagination">
                {% for page in video.paginator.page_range %}
                {% if page == video.number %}
               <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
               <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>

    </div> <!-- end wrapper -->
     </div> <!-- end tab-pane fade -->
     </div>

{% endblock %}
